.note-window {
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 10rem;
    font-size: 1.1rem;

    /* Hide scrollbar for all browsers */
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE and Edge */
    &::-webkit-scrollbar {
        display: none;           /* Chrome, Safari, and Opera */
    }

    pre {
        background-color: transparent !important;
        // Also hide horizontal scrollbars if code lines are too long
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}